p {
  margin-top: 0;
  margin-bottom: 0;
}

.container2 {
  width: 350px;
margin-bottom: 200px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  object-fit: cover;
  margin-right: 10px;
}

.user-preview {
  display: flex;
  flex-direction: row;
align-items:center;
margin-bottom: 15px;
}

.user-info {
  width: 200px;
  display: flex;
  flex-direction: column;
  
}

.name {
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
}

.description {
  font-family: arial;
  font-size: 13px;
  color: gray;
  margin-top: 4px;
  margin-bottom: 4px;
}

.social {
  font-family: arial;
  font-size: 12px;
  color: gray;
}

.follow {
  background-color: rgb(56, 99, 255);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: arial;
  font-size:15px ;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

